.contattami {
    padding-top: 20vh;
    height: 98vh;
    background: linear-gradient(to bottom,
    rgba(#252525, 0.9), rgba(#333, 0)),
    url(/Assets/img/sondo\ mare\ 1.JPG) center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-control {
        width: 30vw;
    }
}

.form-label {
    color: #fff;
    font-family: "Lexend Peta", sans-serif;
    font-weight: 300;
}

