
  header {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 1rem;
    color: white;
    z-index: 1;
    width: 100%;
    font-size: 1rem;
    font-family: "Lexend Peta", sans-serif;
    font-weight: 300;
    z-index: 2;

    .logo-img {
      width: 3rem;
      margin-left: 1rem;
    }
  }
  

  
  .menu-btn {
    display: none;

  }
  
  .menu-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    cursor: pointer;
    padding-left: 2vh;

  }
  
  .nav-icon {
    display: block;
    height: 3px;
    width: 26px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    content: '';
  }

  
  #b2 {
    margin-top: 5px;
  }

  
  #b3 {
    margin-top: 5px
  }
  
  

  .menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    width: 100%; 
    margin:0;
    z-index: 3;
    height: 100vh;


    .link {
      text-decoration: none;
      color: white;
      transition: color 0.3s ease; 
      margin: 0;
  
      &.active {
        color: #ff6600;
      }

      &:hover {
        color: #ff6600;
      }
    }
    
  }

  

  
  
  
