@media (max-width: 768px) {

    #header_curriculum {
      position: sticky;
      background:rgba(#333, $alpha: 1);
      left: 0;
      margin: 0;
      top: 0;
      padding-top: 3px;
     
      #menu_curriculum {
        position: fixed;
        height: 100vh;
      }

    }

    .home {
        padding-left: 10vh;
    }

    .menu-icon {
        display: flex;
    }
    
        .menu {
          display: none;
          flex-direction: column;
          justify-content: center;
          background: #333;
          position: absolute;
          top: 50px;
          text-align: center;
          height: 93vh;

          li {
            padding: 5vh 0;
            font-size: 1.5rem;
          }
        }
      


        #menu_pop {
          height: 100vh;
      }

      
        .menu-btn:checked ~ .menu {
          display: flex;
          position: absolute;
          
        }
    
        .menu-btn:checked + .menu-icon .nav-icon:nth-child(1) {
            transform: rotate(45deg) translate(0px, 11px);
        }
      
        .menu-btn:checked + .menu-icon .nav-icon:nth-child(2) {
          background: transparent;
        }

        .menu-btn:checked + .menu-icon .nav-icon:nth-child(3) {
            transform: rotate(-45deg) translate(0px, -11px);
        }
      }


@media (min-width: 768px) {
  #header-pop {
    background: none;
    position: absolute;
  }

}

@media (max-width: 1399px) {
    .menu_middle {
        display: none;
    }
}

@media (min-width: 1399px) {

    #menu_header {
        display: none;
    }

  
    .menu_middle {
            width: 100%;
            border-top: 1px solid #333;
            text-decoration: none;
            color: white;
            transition: color 0.3s ease;
            padding: 3vh 0; 
            color: #ff6600;
            font-weight: 300;
            font-size: 2rem;

            }
}



