@import 'menu','popart','responsive','contacts';


body {
    
    .background {
        background: linear-gradient(to right,
        rgba(black, 0.5), rgba(#333, 0)),
        url(Assets/img/sondo\ mare\ 1.JPG) center;
        background-size: cover;
        height: 98vh;
    }

    .home {
        background-size: cover;   
        height: 100%;
        padding-top: 10vh;
        padding-right: 20vh;
        display: flex;
        flex-direction: column;
        align-items:center;
        flex-wrap: wrap;
        

        .saluti {
        text-align: center;
        padding-top: 40px;
        font-family: "Lexend Peta", sans-serif;


            .hello {
            padding-top: 8vh;
            font-weight: 200;
            font-size: 2rem;
            color: white;
            position: relative;
            
        }

            .name {
            padding: 1rem 0;
            border-bottom: 1px solid #333;
            color: white; 
            display: block;

            .hello2 {
                padding-top: 2vh;
                font-weight: 200;
                font-size: 1.2rem;
            }

            .enne {
                font-size: 3.2rem;
                font-weight: 400;
            }


       
        }
    
      }
    }

}

.social-icons {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
 
    
    .fab {
        color: #fff;
        padding: 0 5px;
     &:hover {
       color: #f60;
       transition: 0.5s ease;
     }
    }

}

footer {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
font-size: 0.7rem;

}
