header {
  position: absolute;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 1rem;
  color: white;
  z-index: 1;
  width: 100%;
  font-size: 1rem;
  font-family: "Lexend Peta", sans-serif;
  font-weight: 300;
}
header .logo-img {
  width: 3rem;
  margin-left: 1rem;
}

.menu-btn {
  display: none;
}

.menu-icon {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  cursor: pointer;
  padding-left: 2vh;
}

.nav-icon {
  display: block;
  height: 3px;
  width: 26px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  content: "";
}

#b2 {
  margin-top: 5px;
}

#b3 {
  margin-top: 5px;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  width: 100%;
  margin: 0;
}
.menu .link {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  margin: 0;
}
.menu .link.active {
  color: #ff6600;
}
.menu .link:hover {
  color: #ff6600;
}

#header-pop {
  margin-top: 1rem;
  position: absolute;
  font-size: 1rem;
}

.art {
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: url(/Assets/img/spraycans.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
.art .artist-bio {
  width: 100%;
  padding-top: 5vh;
  padding-bottom: 6vh;
  background: linear-gradient(to bottom, rgba(37, 37, 37, 0.9), rgba(51, 51, 51, 0));
  font-family: "Lexend Peta", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.art .artist-bio .logo-main {
  padding-top: 1rem;
  width: 15vw;
}
.art .artist-bio .artist-title {
  padding-top: 1rem;
  font-weight: 300;
}
.art .artist-bio .bio_main {
  font-family: "Comme", sans-serif;
  font-size: 1.2rem;
  padding: 1vh 20vw;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.art .paints {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.art .paints .card {
  padding: 0.5rem;
  margin: 1rem;
}
.art .paints .card .card-title {
  padding-top: 20px;
}
.art .paints .card .card-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.art .paints .card .card-body .card-link {
  text-decoration: none;
  color: #f60;
  font-weight: 500;
}
.art .link_paints {
  padding: 5vh 0;
}
.art .link_paints .btn {
  font-weight: 600;
  font-size: 1.2rem;
  width: 30vw;
  color: #ffffff;
}

@media (max-width: 768px) {
  .home {
    padding-left: 10vh;
  }
  .menu-icon {
    display: flex;
  }
  .menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(51, 51, 51, 0.9);
    position: absolute;
    top: 50px;
    text-align: center;
    height: 100vh;
  }
  .menu li {
    padding: 5vh 0;
    font-size: 1.5rem;
  }
  .menu-btn:checked ~ .menu {
    display: flex;
  }
  .menu-btn:checked + .menu-icon .nav-icon:nth-child(1) {
    transform: rotate(45deg) translate(0px, 11px);
  }
  .menu-btn:checked + .menu-icon .nav-icon:nth-child(2) {
    background: transparent;
  }
  .menu-btn:checked + .menu-icon .nav-icon:nth-child(3) {
    transform: rotate(-45deg) translate(0px, -11px);
  }
}
@media (max-width: 1399px) {
  .menu_middle {
    display: none;
  }
}
@media (min-width: 1399px) {
  #menu_header {
    display: none;
  }
  .menu_middle {
    width: 100%;
    border-top: 1px solid #333;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    padding: 3vh 0;
    color: #ff6600;
    font-weight: 300;
    font-size: 2rem;
  }
}
.contattami {
  padding-top: 20vh;
  height: 98vh;
  background: linear-gradient(to bottom, rgba(37, 37, 37, 0.9), rgba(51, 51, 51, 0));
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contattami .form-control {
  width: 50vw;
}

body .background {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(51, 51, 51, 0)), url(/Assets/img/sondo\ mare\ 1.JPG) center;
  background-size: cover;
  height: 98vh;
}
body .home {
  background-size: cover;
  height: 100%;
  padding-top: 10vh;
  padding-right: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
body .home .saluti {
  text-align: center;
  padding-top: 40px;
  font-family: "Lexend Peta", sans-serif;
}
body .home .saluti .hello {
  padding-top: 8vh;
  font-weight: 200;
  font-size: 2rem;
  color: white;
  position: relative;
}
body .home .saluti .name {
  padding: 1rem 0;
  border-bottom: 1px solid #333;
  color: white;
  display: block;
}
body .home .saluti .name .hello2 {
  padding-top: 2vh;
  font-weight: 200;
  font-size: 1.2rem;
}
body .home .saluti .name .enne {
  font-size: 3.2rem;
  font-weight: 400;
}

.social-icons {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.social-icons .fab {
  color: #fff;
  padding: 0 5px;
}
.social-icons .fab:hover {
  color: #f60;
  transition: 0.5s ease;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
}/*# sourceMappingURL=style.css.map */