header {
  position: absolute;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 1rem;
  color: white;
  z-index: 1;
  width: 100%;
  font-size: 1.8rem;
  font-family: "Playwrite DE Grund", cursive;
  font-weight: 250;
}
header .logo-img {
  width: 3rem;
  margin-left: 1rem;
}

.menu-btn {
  display: none;
}

.menu-icon {
  padding-top: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  cursor: pointer;
  padding-left: 2vh;
}

.nav-icon {
  display: block;
  height: 3px;
  width: 35px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  content: "";
}

#b2 {
  margin-top: 5px;
}

#b3 {
  margin-top: 5px;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  width: 100%;
  margin: 0;
}
.menu .link {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  margin: 0;
}
.menu .link.active {
  color: #ff6600;
}
.menu .link:hover {
  color: #ff6600;
}

#header-pop {
  background: rgba(51, 51, 51, 0.8);
}

.art {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.art .artist-title {
  padding-top: 20px;
  font-family: "Playwrite DE Grund", cursive;
}

@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }
  .menu {
    display: none;
    flex-direction: column;
    background-color: rgba(51, 51, 51, 0.8);
    position: absolute;
    top: 50px;
    text-align: center;
  }
  .menu li {
    margin: 10px 0;
  }
  .menu-btn:checked ~ .menu {
    display: flex;
  }
  .menu-btn:checked + .menu-icon .nav-icon:nth-child(1) {
    transform: rotate(45deg) translate(0px, 11px);
  }
  .menu-btn:checked + .menu-icon .nav-icon:nth-child(2) {
    background: transparent;
  }
  .menu-btn:checked + .menu-icon .nav-icon:nth-child(3) {
    transform: rotate(-45deg) translate(0px, -11px);
  }
}
@media (max-width: 1399px) {
  .menu_middle {
    display: none;
  }
}
@media (min-width: 1399px) {
  #menu_header {
    display: none;
  }
  .menu_middle {
    width: 100%;
    border-top: 1px solid #333;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    padding: 3vh 0;
    color: #ff6600;
    font-weight: 500;
    font-size: 2rem;
  }
}
body .background {
  background: url(/Assets/img/sondo\ mare\ 1.JPG) center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
body .home {
  background-size: cover;
  height: 100%;
  padding-top: 10vh;
  padding-right: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
body .home .saluti {
  text-align: center;
  padding-top: 40px;
  padding-left: 60px;
  font-family: "Playwrite DE Grund", cursive;
}
body .home .saluti .hello {
  padding-top: 8vh;
  font-weight: 200;
  font-size: 2rem;
  color: white;
  position: relative;
}
body .home .saluti .name {
  padding: 1rem 0;
  border-bottom: 1px solid #333;
  color: white;
  display: block;
}
body .home .saluti .name .hello2 {
  padding-top: 2vh;
  font-weight: 200;
  font-size: 1.2rem;
}
body .home .saluti .name .enne {
  font-size: 3.2rem;
  font-weight: 400;
}

.social-icons {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.social-icons .fab {
  color: #fff;
  padding: 0 5px;
}
.social-icons .fab:hover {
  color: #f60;
  transition: 0.5s ease;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */